
@{
    ViewBag.Title = "Index";
}


<main>
    @{
        ViewBag.Message = "This is the index page for HDFC BANK Web Portal";

        <h1>@ViewBag.Message</h1>
    }
    <a href="/auth/login">login</a>
</main>

